body {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    flex-direction: row;
    background-color: #2f6d39;
    width: 100%;
    padding: 15px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);

}

.Logo {
    width: 150px;
    height: auto;
    padding: 0;
}


nav {
    background-color: #1a5023;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navText {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande','Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.navText:hover {
    color: rgb(224, 224, 224);
    transform: scale(1.1);
}